td, th {
    padding: 2px 4px 2px 4px;
}

#agg td, th {
	padding: 2px 18px 2px 4px;
	margin-right: 10px;
}


#agg_table td {
    min-width: 110px;
}

h1 {
    margin-bottom: 15px;
}


table {
    margin-bottom: 40px;
}

.header {
    background-image: url(../img/sort_both.png);
    background-repeat: no-repeat;
    background-position: center right;
    cursor: pointer;
}

ul {
    margin-top: 20px;
}

.bs-sidebar ul li {
    font-size: 16px;
}

svg .axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

svg .bar {
  fill: steelblue;
}

svg .x.axis path {
  display: none;
}

svg {
    font-size: 12px;
}